@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@700&display=swap");
.container {
  background-color: #031625;
  min-height: 100vh;
  max-height: max-content;
}
.flexcont {
  /* margin-top: 2rem; */
  display: flex;
  flex-wrap: nowrap;
}
.head {
  display: flex;
  /* align-items: center; */
  text-align: center;
  justify-content: center;
  padding: 2rem 0;
}
.heading2 {
  color: aliceblue;
  font-size: var(--font-size-xl);
  font-family: "Fira Sans", sans-serif;
  letter-spacing: 5px;
  /* border-bottom: 1px solid #fff; */
}

.heading {
  color: aliceblue;
  font-size: var(--font-size-xl);
  font-family: "Fira Sans", sans-serif;
  letter-spacing: 5px;
  /* border-bottom: 1px solid #fff; */
}
.head2 {
  display: flex;
  justify-content: center;
  padding-top: 32px;
  align-items: center;
  text-align: center;
  font-size: var(--font-size-xl);
}

.row2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;

  /* justify-content: space-evenly; */
}
@media all and (max-width: 645px) {
  .flexcont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
  .head2 {
    font-size: var(--font-size-l);
  }
  .heading {
    font-size: var(--font-size-l);
  }
  .heading2 {
    font-size: var(--font-size-l);
  }
}
@media all and (max-width: 631px) {
  .row2 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .head {
    padding: 10px;
    margin-bottom: 20px;
  }
}
