
.myformfeedback { max-width:420px; margin:50px auto; margin-bottom: 10px; margin-top: 0; }
.cicadaReg {
    min-height: 100vh;
    /* background: url("../../CompetitionPage/assets/bg.png") repeat 0 0;
    -webkit-animation: bg-scrolling-reverse 7s infinite ease-in-out;
    animation: bg-scrolling-reverse 7s infinite ease-in-out;
    transition: all 1s; */
    background: rgb(30,30,40);
    z-index: 1;
    background-position: center;
    background-size: cover;
  }
.feedbackinput {
    background:rgb(30,30,40);
  color:white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #CC6666;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
  margin-top: 50px;
}

.feedbackinput:focus { border:2px solid #CC4949; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

.btn {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:#CC6666;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
.btn:hover { background:#CC4949; }

.notification {
  display: flex;
  text-align: center;
  margin: auto;
  width: max-content;
  font-size: var(--font-size-m);
  font-family: var(--content-font);
  color: black;
  padding: 15px 10px;
  
  background: var(--theme-color-light);
  animation: fade-in 0.6s forwards;
  border-radius: 6px;
}
